body {
  background-color: #eee;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #eee;
  justify-content: space-between;
  width:100vw;
}

nav>ul{
  display: flex;
  width: 400px;
  justify-content: space-around
}
.logo{
  width: 63vw;
}
li{
  list-style: none;
}
li a{
  text-decoration: none;
}